body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, 'Roboto', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  background-attachment: fixed;
}


input[type="checkbox"]{
  margin-right: 1rem;
}

.list-g{
  cursor: pointer;
}
